body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #c7aa27;
    min-height: 100vh;
  }

  .sectionWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    font-size: 40px;
    text-align: center;
  }

  button, 
  .selection {
    background-color: transparent;
    border: none;
    margin-top: 4vh;
    transition: 125ms;
    
  }

  img {
    width: 200px;
  }
  
  .selection:hover,
  #resetGame:hover {      /*button hover animation; enlarges button when mouse hovering over*/      
    transform: scale(1.2);
    background-color: #dfc44f;
    border-radius: 40px; 
  }

  .score {
    margin-top: -5vh;
    font-size: 35px;
    font-weight: 650;
  }

  .score-title {
    font-size: 50px;
    font-weight: 600;
  }

  #gameMessage {
    font-size: 40px;
    font-weight: 500;
  }

  #winner {
    font-size: 40px;
    font-weight: 500;
    margin-top: -4vh;
  }

  #resetGame {
    font-size: 35px;
    font-weight: 900;
    border-radius: 40px;
    cursor: pointer;
    max-width: 250px;
    margin-top: -2vh;
    padding: 20px;
    transition: 125ms;
  }

  p {
    display: flex;
    justify-content: center;
  }

  .scoreSection {
    display: flex;
    align-items: center;
    flex-direction: column;
  }